{% extends "layout.html" %}

{% block title %}
Home page
{% endblock %}

{% block content %}
<h1>Home page</h1>
<link rel="stylesheet" href="admin" class='text-white'>
<h2  class="bg-orange-500 text-3xl">is this home page</h2>
<div class='flex justify-center gap-7'>
<div>

    <button class="border bg-amber-600 text-white p-3"><a href="/admin">admin</a></button>
</div>
<div>

    <button class="border bg-amber-600 text-white p-3"><a href="/rProject">rProject</a></button>
</div>
</div>
{% endblock %}
